.reveal  section img.noborder {
    border: none;
    box-shadow: none;
}

.reveal h2 {
    font-size: 2em;
}

.reveal h3 {
    font-size: 1.6em;
}

.reveal ul {
    list-style-type: none;
}

.reveal ul li {
    font-size: 1.2em;
    border-bottom: 1px solid #ddd;
    padding: 1ex 0;
}

.reveal h3.filename {
    text-decoration: underline;
    font-style: italic;
    color: #707988;
    text-transform:none;
}

.reveal pre code {
    max-height:640px;
}

.reveal pre code.compressed {
    font-size:85%;
    line-height: 105%;
}

.reveal pre code.bigger {
    font-size:120%;
    line-height: 140%;
}

span.bold {
    font-weight: bold;
    display: block;
}
